{% extends 'back/base.html.twig' %}
{% block body %}
 <div id="main">
        <!-- Post -->
        <section class="post">
            <header class="major">
                 <h1>Ajouter nouveau Information Educatif 
                 </h1>
            </header>


           <div class="col-md-12">
           {{form_start(formB)}}
                    <fieldset>
                        {{ form_row(formB.titre, {'attr':{'placeholder': 'titre'}}) }}
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset>
                        {{ form_row(formB.contenu, {'attr':{'placeholder': 'contenu'}}) }}
                    </fieldset>
                </div>
                  <div class="col-md-12">
                    <fieldset>
                        {{ form_row(formB.auteur, {'attr':{'placeholder': 'auteur'}}) }}
                    </fieldset>
                </div>
         <div class="col-md-12">
                    <fieldset>
                        <button type= "submit" class="btn btn-success"> Ajouter ! </button>
                    </fieldset>
                </div>

                {{ form_end(formB) }}

            </div>




  </section>
</div>          
{% endblock %}