{% extends 'back/base.html.twig' %}

{% block body %}


    <!-- Content -->
    <div class="content">
    {% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
        
           
        <!-- Navbar End -->

        <h1>Tous les informations éducatifs</h1>

<div class="col-sm-12 col-xl-15">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Symptome</th>
                            <th scope="col">Causes</th>
                            <th scope="col">Traitement</th>
                            <th scope="col">Image</th>
                            <th scope="col">Allergie</th>
                            <th scope="col">Likes</th>
                            <th scope="col">Dislikes</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for information in informations %}
                        <tr>
                            <td>{{ information.idinformation }}</td>
                            <td>{{ information.titre }}</td>
                            <td>{{ information.symptome }}</td>
                            <td>{{ information.causes }}</td>
                            <td>{{ information.traitement }}</td>
                            <td>{{ information.image }}</td>
                            <td>{{ information.idAllergie }}</td>
                            <td>{{ information.likes }}</td>
                            <td>{{ information.dislikes }}</td>
                            <td>
                                <a href="{{ path('information_update', {'id': information.idinformation}) }}" class="btn btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a href="{{ path('information_delete', {'id': information.idinformation}) }}" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                                <a href="{{ path('information_pdf', {'id': information.idinformation}) }}" class="btn btn-dark">
                                    <i class="bi bi-download"></i>
                                </a>
                                <a href="{{ path('send_information_email', {'id': information.idinformation}) }}" class="btn btn-dark">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       <a href="{{ path('Information_Add') }}" class="btn btn-primary mt-3">
    <i class="bi bi-plus-circle"></i> Ajouter une nouvelle information
</a>
 </div>
</div>
<!-- Footer End -->

{% endblock %}
