{% extends 'back/base.html.twig' %}

{% block body %}
<div class="sidebar pe-4 pb-3">
						<nav class="navbar bg-light navbar-light">
							<a href="index.html" class="navbar-brand mx-4 mb-3">
								<h3 class="text-primary"><img class="rounded-circle" src="/img/logo.png" alt="" style="width: 180px; height: 180px;"></img></h3>
						</a>
						
							</div>
						</nav>
					</div>
<div id="main">
    <!-- Post -->
    <section class="post">
        <header class="major text-center mb-4">
            <h1 style="font-size: 2.5rem ;color: blue; ">Ajouter une nouvelle allergie</h1>
        </header>

        <div class="row justify-content-center">
            <div class="col-md-6 border rounded p-4 shadow-lg">
               {{ form_start(formA.nom,{'attr': {'novalidate': 'novalidate'}} ) }}

                <div class="form-group">
                    {{ form_row(formA.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'allergie', 'style': 'font-size: 1.2rem;'}}) }}
                   
                </div>
                <div class="form-group">
                    {{ form_row(formA.description, {'attr': {'class': 'form-control', 'placeholder': 'Description de l\'allergie', 'style': 'font-size: 1.2rem; height: 150px;'}}) }}
                </div>
                <div class="form-group text-center">
                   
                    <button type="submit" class="btn btn-success rounded-pill">Ajouter</button>
                  <a href="{{ path('allergie_show') }}" class="btn btn-secondary rounded-pill">Retourner</a>
                    
                </div>
                {{ form_end(formA) }}
            </div>
        </div>

    </section>
</div>
{% endblock %}
