    {% extends 'front/base.html.twig' %}
    
{% block title %}Liste des Restaurants{% endblock %}

    {% block body %}

    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Menu</h2>
          <p>Check Our <span>Yummy Menu</span></p>
        </div>
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <div class="row gy-5">
           {% for restaurant in restaurants %}

              <div class="col-lg-4 menu-item">
               <img style="border-radius: 10px" src="{{ asset('restaurant/' ~ restaurant.img) }}" width="200px" height="200px"  alt="{{ restaurant.nom }}">
                <h4 style="padding-top: 10px">{{ restaurant.nom }}</h4>
                <p class="ingredients">
                 {{ restaurant.adresse }}
                </p>
                <p class="price">
                    {{ restaurant.type }}
                </p>
                     <a href="{{ path('reservation_add', {'id': restaurant.id}) }}"> <button style="    border-radius: 10px;
    background-color: gray;
    color: whitesmoke;
    border: 1px;" >Book a Table</button></a>
              </div><!-- Menu Item -->
       
   {% endfor %}

            
          </div><!-- End Breakfast Menu Content -->

        </div>

      </div>
    </section><!-- End Menu Section -->

{% endblock %}
