{% extends 'base.html.twig' %}

{% block title %}Liste des Restaurants{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('/public/css/style.css') }}">

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 
 <table border="1" align="center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Type</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
           {% for restaurant in restaurants %}
              <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.nom }}</td>
                <td>{{ restaurant.adresse }}</td>
                <td>{{ restaurant.type }}</td>
                <td><img src="{{ asset(restaurant.img) }}" alt="{{ restaurant.nom }}" style="max-width: 100px;"></td>
              </tr>
          {% endfor %}
        </tbody>
 </table>

</div>
{% endblock %}

