{% extends 'back/base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('/public/css/style.css') }}">

    <div id="main">
        <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>Modifier Restaurant</h1>
            </header>

            <div class="col-md-12">
                {{ form_start(formR) }}
                <fieldset>
                    {{ form_row(formR.nom, {'attr': {'placeholder': 'Nom '}}) }}
                </fieldset>
            </div>

            <div class="col-md-12">
                <fieldset>
                    {{ form_row(formR.adresse, {'attr': {'placeholder': 'Adresse'}}) }}
                </fieldset>
            </div>

            <div class="col-md-12">
                <fieldset>
                    {{ form_row(formR.type, {'attr': {'placeholder': 'Type'}}) }}
                </fieldset>
            </div>

            <div class="col-md-12">
                <fieldset>
                    {{ form_row(formR.img, {'attr': {'placeholder': 'Image'}}) }}
                </fieldset>
            </div>

            <div class="col-md-12">
                <fieldset>
                    <button type="submit" class="btn btn-success">Modifier !</button>
                </fieldset>
            </div>

            {{ form_end(formR) }}

        </section>
    </div>
{% endblock %}