<!DOCTYPE html>
<html>
<head>
    <title>Information Éducative</title>
</head>
<body>
    <h1>Informations Éducatives</h1>
    <p>Titre: {{ information.titre }}</p>
     <p>Image: {{ information.image }}</p>
    <p>Symptômes: {{ information.symptome }}</p>
    <p>Causes: {{ information.causes }}</p>
    <p>Traitement: {{ information.traitement }}</p>
</body>
</html>